@model IEnumerable<Web.Common.BaseNamedEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Muscle Groups</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="index-actions">
                <span>
                    <a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                    <a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                </span>
            </td>
        </tr>
}
    </tbody>
</table>
