@model IEnumerable<Web.ViewModels.ExerciseViewModels.ExerciseIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercises</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HasVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExerciseType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRoutines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfExerciseSetsCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td class="index-author-row" colspan="6">
            Exercise Name: <b>@item.Name</b> <span>-</span> Created By: <a asp-controller="Profile" asp-action="Details" asp-route-id="@item.CreatedById">@item.CreatedByName</a> <span>-</span> Created On: @item.CreatedDate.ToString("d")
        </td>
    </tr>
    <tr>
        <td>
            @(item.HasVideo.ToString() == "True" ? "Yes" : "No")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExerciseType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfRoutines)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfExerciseSetsCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="index-actions">
            <span>
                <a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                <a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
            </span>
        </td>
    </tr>
}
    </tbody>
</table>
