@model IEnumerable<Web.ViewModels.RoutineViewModels.RoutineIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Routines</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HasVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfExercises)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfUsers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWorkouts)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="index-author-row" colspan="6">
                    Routine Name: <b>@item.Name</b> <span>-</span> Created By: <a asp-controller="Profile" asp-action="Details" asp-route-id="@item.CreatedById">@item.CreatedByName</a> <span>-</span> Created On: @item.CreatedDate.ToString("d")
                </td>
            </tr>
            <tr>
                <td>
                    @(item.HasVideo.ToString() == "True" ? "Yes" : "No")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfExercises)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfUsers)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfWorkouts)
                </td>
                <td class="index-actions">
                    <span>
                        @if (ViewBag.CurrentUserId == item.CreatedById)
                        {
                            <a asp-action="Edit" title="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                        }
                        <a asp-action="Details" title="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                        @if (ViewBag.CurrentUserId == item.CreatedById)
                        {
                            <a asp-action="Delete" title="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt"></i></a>
                        }
                    </span>
                </td>
            </tr>
        }
    </tbody>
</table>
